* {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Epilogue", sans-serif;
}

h2 {
  font-weight: none;
}

h3 {
  font-weight: normal;
  font-size: 17.5px;
  margin: auto;
  width: 68%;
  text-align: center;
}

img {
  display: inline-block;
  width: 125px;
}

.bathroom-reviewed {
  color: #4b2e83;
}

.bathroom-info {
  color: #4b2e83;
}

.big {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4b2e83;

  font-family: "Big Shoulders Text", cursive;
  font-size: 90px;
}

.below {
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  font-size: 20px;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

.completed-review {
  background-color: #ffffff;
  padding: 10px;
  border-color: #442484;
  border-radius: .4rem;
  margin: 30px;
  display: none;
  max-width: 500px;
}

.divider {
  border-top: 2px solid #442484;
  border-radius: 5px;
  width: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#filter-system {  
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  border-style: none;
  border-radius: 5px;
  background-color: #836fc3;
  color: #fdfcfd;
  padding: 5px;
  margin: 2.5px;
}

.filter:hover {
  background-color: #7355af;
  cursor: pointer;
}

.filter.active {
  background-color: #5e409c;
  color: white;
}

.hoverable {
  position: relative;
}

.hoverable:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 500px;
  background-color: #442484;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 5px;
  transition: opacity 0.1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hoverable:hover:before {
  opacity: 0.8;
  visibility: visible;
}

.input-box {
  border-color: #eceaf0;
  border-radius: 2.5px;
}

.input-box:hover {
  background-color: #fbfaff;
}

.input-box:focus {
  background-color: #fbfaff;
}

.overlay {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4b2e83;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.4s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay-content a:hover {
  color: #957fc3;
}

.overlay .close-button {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.open-button {
  font-size: 40px;
  cursor: pointer;
}

.show {
  display: block;
}

.text-box {
  outline: none;
  border-style: solid;
  border-color: #eceaf0;
  border-width: 1.27px;
  border-radius: 2.5px;
}

.text-box:hover {
  background-color: #fbfaff;
}

.text-box:focus {
  background-color: #fbfaff;
}

.radio-button {
  font-size: 14.5px;
}

.reviewer {
  font-family: "Epilogue", sans-serif;
  font-size: 17.5px;
}

#index-page {
  overflow: hidden;
}

#form {
  width: 40%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#map {
  text-align: center;
}

#previous-reviews {
  width: 65%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#review {
  width: 99%;
}

#reviews-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, .75fr);
  gap: 7.5px;
}

#review-form {
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  border-color: #d8d1f0;
  border-radius: 7.5px;
}

#review-page {
  background-color: #f5f4fb;
}

#submit-form {
  border-style: none;
  border-radius: 5px;
  background-color: #4b2e83;
  color: #fdfcfd;
  position: relative;
  width: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  float: center;
  padding: 7.5px 0px 7.5px 0px;
}

#submit-form:hover {
  background-color: #40207e;
  cursor: pointer;
}

@media (max-width: 650px) {
  .below {
    top: 70%;
    font-size: 15px;
  }

  .hoverable:before {
    width: 100%;
  }

  #bigger:before {
    width: 415%;
  }
  
  #form {
    width: 65%;
  }

  #map {
    width: 97.5%;
  }

  #previous-reviews {
    width: 80%;  
  }
  
  #submit-form {
    width: 40%;
  }
}
